.singleText{
    font-family: "Gilroy",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -3.85217e-05px;
    color: #414D6A;
    width: 558px;
    margin-bottom: 22px;
}