.cardTwo{
    width: 20.1%;
    margin: 18px 0;
    border-radius: 6px;   
    overflow: hidden;
}

.cardTwo:nth-child(1) .sale , .cardTwo:nth-child(2) .sale , .cardTwo:nth-child(3) .sale , .cardTwo:nth-child(4) .sale{
    background: rgba(65, 212, 129, 0.225289);
    border-radius: 6px;
    height: 95px;
    position: relative;
}
.cardTwo:nth-child(1) .sale::before , .cardTwo:nth-child(2) .sale::before , .cardTwo:nth-child(3) .sale::before , .cardTwo:nth-child(4) .sale::before{
    content: " Top ";
    display: block;
    background: #41D481;
    transform: rotate(-40deg);
    font-family: "Gilroy",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    top: -179px;
    left: -33px;
    color: #000000;
    width: 123px;
    height: 30px;
    padding: 7px 0;
    position: absolute;
    box-sizing: border-box;
}
