.single-prduct-data{
    font-family: "Gilroy",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -5.89155e-05px;
    color: #414D6A;
}